.wgm_events {
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-gap: 1rem;
    width: 100%;
}

.wgm_event_box {

}

@media (min-width: 600px) {
    .wgm_events { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
    .wgm_events { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 1200px) {
    .wgm_events { grid-template-columns: repeat(4, 1fr); }
}

/*@media (min-width: 1500px) {
    .wgm_events { grid-template-columns: repeat(5, 1fr); }
}*/

.wgm_event_title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 0px;
}